.login-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column; 
  position: relative; 
}

.login-container h1 {
  color: #333;
  position: absolute;
  top: 20px; 
  left: 20px;
  margin: 0;
}

.login-container form {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  text-align: center;
  margin-top: 60px; 
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}


.login-container form {
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: left; 
}

.login-container input[type="text"], 
.login-container input[type="password"] {
  margin-top: 10px;
}

.login-container button {
  width: 100px;
  margin-left: 130px;
  padding: 10px;
  background-color: #833ae0;
  color: white;

  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #45a049;
}



@media (max-width: 600px) {
  .login-container form {
    width: 80%;
  }
}
